body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10378 {
  position:absolute;
  left:17px;
  top:20px;
  width:333px;
  height:170px;
}
#u10379 {
  position:absolute;
  left:2px;
  top:77px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF6600;
  text-align:left;
}
#u10380 {
  position:absolute;
  left:25px;
  top:30px;
  width:17px;
  height:17px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF6600;
  text-align:left;
}
#u10381 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u10382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u10382 {
  position:absolute;
  left:50px;
  top:30px;
  width:292px;
  height:48px;
  color:#666666;
}
#u10383 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u10384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:2px;
}
#u10384 {
  position:absolute;
  left:25px;
  top:88px;
  width:317px;
  height:1px;
}
#u10385 {
  position:absolute;
  left:2px;
  top:-8px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u10386 {
  position:absolute;
  left:25px;
  top:99px;
  width:15px;
  height:17px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u10387 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u10388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u10388 {
  position:absolute;
  left:50px;
  top:99px;
  width:150px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u10389 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u10390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u10390 {
  position:absolute;
  left:24px;
  top:126px;
  width:18px;
  height:17px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u10391 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u10392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u10392 {
  position:absolute;
  left:50px;
  top:127px;
  width:261px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u10393 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u10394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u10394 {
  position:absolute;
  left:222px;
  top:99px;
  width:86px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u10395 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u10396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:46px;
  background:inherit;
  background-color:rgba(237, 250, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(213, 230, 214, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#83AA86;
}
#u10396 {
  position:absolute;
  left:240px;
  top:324px;
  width:540px;
  height:46px;
  font-size:12px;
  color:#83AA86;
}
#u10397 {
  position:absolute;
  left:2px;
  top:16px;
  width:536px;
  word-wrap:break-word;
}
#u10398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:14px;
}
#u10398 {
  position:absolute;
  left:295px;
  top:396px;
  width:58px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u10399 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u10400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
}
#u10400 {
  position:absolute;
  left:389px;
  top:396px;
  width:33px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u10401 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u10402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:14px;
}
#u10402 {
  position:absolute;
  left:459px;
  top:396px;
  width:20px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u10403 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u10404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:14px;
}
#u10404 {
  position:absolute;
  left:295px;
  top:420px;
  width:39px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u10405 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u10406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:14px;
}
#u10406 {
  position:absolute;
  left:389px;
  top:420px;
  width:39px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u10407 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u10408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
}
#u10408 {
  position:absolute;
  left:459px;
  top:420px;
  width:41px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u10409 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
